<div class="col-5" style="display: flex;flex-direction: column;align-items: center;">
  <canvas id="myCanvas"
          width="600"
          height="600"></canvas>
  <div class="col" style="margin-top: 10px">
    <div class="shadow bg-light rounded">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active"
             href="#visualizacoes"
             role="tab"
             data-toggle="tab">Visualizações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#informacoes"
             role="tab"
             data-toggle="tab">Informações</a>
        </li>
      </ul>
      <div class="tab-content">
        <% include visualizacoes %>
        <% include informacoes %>
      </div>
    </div>
  </div>
</div>