<div class="col-5">
  <canvas id="myCanvas"
          width="600"
          height="600"></canvas>
  <div class="col">
    <div class="shadow bg-light rounded">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active"
             href="#visualizações"
             role="tab"
             data-toggle="tab">Visualizações</a>
        </li>
      </ul>
      <div class="tab-content">
        <% include visualizacoes %>
      </div>
    </div>
  </div>
</div>