<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <title>Flight Radar ✈</title>
  <link rel="stylesheet"
        href="bootstrap.css">
  <style>
    canvas {
      background: #eee;
    }

    .display-inherit {
      display: inherit;
    }
  </style>
  <link rel="stylesheet"
        href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.1/dist/bootstrap-float-label.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <% include coluna-esquerda %>
      <% include coluna-meio %>
      <% include coluna-direita %>
    </div>
    <script src="https://rawgithub.com/soulwire/sketch.js/master/js/sketch.min.js"></script>
    <script src="app.js"></script>
</body>

</html>