<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>🎛 Flight Radar ✈</title>
  <link rel="stylesheet" href="bootstrap.css">
  <style>
    canvas {
      background: #eee;
    }

    .display-inherit {
      display: inherit;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.1/dist/bootstrap-float-label.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="col">
          <div class="shadow bg-light rounded">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#transformation" role="tab" data-toggle="tab">Transformações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tracker" role="tab" data-toggle="tab">Rastreamento</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="transformation">
                <div class="p-3 mb-5">
                  <form onsubmit="return false" class="form-inline mb-3 row">
                    <div class="col-12 mb-3 display-inherit">
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="text" class="form-control mr-1" id="transladar-x">
                        </div>
                        <label for="transladar-x">X</label>
                      </span>
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="text" class="form-control mr-1" id="transladar-y">
                        </div>
                        <label for="transladar-y">Y</label>
                      </span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="button" onclick="transladar()">Transladar</button>
                    </div>
                  </form>
                  <hr>
                  <form onsubmit="return false" class="form-inline mb-3 row">
                    <div class="col-12 mb-3 display-inherit">
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="text" class="form-control" id="escalonar-x">
                        </div>
                        <label for="escalonar-x">X</label>
                      </span>
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="text" class="form-control" id="escalonar-y">
                        </div>
                        <label for="escalonar-y">Y</label>
                      </span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="button" onclick="escalonar()">Escalonar</button>
                    </div>
                  </form>
                  <hr>
                  <form onsubmit="return false" class="form-inline mb-3 row">
                    <div class="col-12 mb-3 display-inherit">
                      <span class="has-float-label">
                        <input type="text" class="form-control mr-1" id="rotacionar-angulo">
                        <label for="rotacionar-angulo">Ângulo</label>
                      </span>
                    </div>
                    <div class="col-12 mb-3 display-inherit">
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="text" class="form-control mr-1" id="rotacionar-x">
                        </div>
                        <label for="rotacionar-x">Centro - X</label>
                      </span>
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="text" class="form-control mr-1" id="rotacionar-y">
                        </div>
                        <label for="rotacionar-y">Centro - Y</label>
                      </span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="button" onclick="rotacionar()">Rotacionar</button>
                    </div>
                  </form>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tracker">
                <div class="p-3 mb-5">
                  <form onsubmit="return false" id="form-min-distance-airport" class="form-inline mb-3 row">
                    <div class="col-12 mb-3">
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="number" class="form-control" value="1" min="1" id="min-distance-airport">
                          <div class="input-group-append">
                            <span class="input-group-text">km</span>
                          </div>
                        </div>
                        <label for="min-distance-airport">Distância mínima</label>
                      </span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-danger">Aviões próximos ao aeroporto</button>
                    </div>
                  </form>
                  <hr>
                  <form onsubmit="return false" class="form-inline mb-3 row">
                    <div class="col-12 mb-3">
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="number" class="form-control" value="2" min="2" id="min-distance-airships">
                          <div class="input-group-append">
                            <span class="input-group-text">km</span>
                          </div>
                        </div>
                        <label for="min-distance-airships">Distância mínima</label>
                      </span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-danger">Aviões próximos</button>
                    </div>
                  </form>
                  <hr>
                  <form onsubmit="return false" class="form-inline mb-3 row">
                    <div class="col-12 mb-3">
                      <span class="has-float-label">
                        <div class="input-group">
                          <input type="number" class="form-control" id="min-time" min="10" value="10">
                          <div class="input-group-append">
                            <span class="input-group-text">segundos</span>
                          </div>
                        </div>
                        <label for="min-time">Tempo mínimo</label>
                      </span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-danger">Em rota de colisão</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <canvas id="myCanvas" width="600" height="600"></canvas>
      </div>
      <div class="col-4">
        <div class="col" id="right-col">
          <div class="shadow p-3 mb-5 rounded bg-light">
            <table class="table table-sm table-hover" style="font-size: 12px">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Posição</th>
                  <th>Direção</th>
                  <th>Velocidade</th>
                  <th>Altitude</th>
                </tr>
              </thead>
              <tbody id="table-body">

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="https://rawgithub.com/soulwire/sketch.js/master/js/sketch.min.js"></script>
  <script src="app.js"></script>
</body>

</html>