<div role="tabpanel"
     class="tab-pane"
     id="informacoes">
  <div class="p-3 mb-5" style="
    display: flex;
    align-items: center;
    justify-content: center;" id="app-status">
  </div>
</div>