<div role="tabpanel"
     class="tab-pane"
     id="modificar-aviao">
  <div class="p-3">
    <form id="modificar-cart"
          class="form-inline row">
      <div class="col-12 mb-3 display-inherit">
        <span class="has-float-label mr-2">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="modificar-x"
                   value="0">
          </div>
          <label for="modificar-x">X</label>
        </span>
        <span class="has-float-label">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="modificar-y"
                   value="0">
          </div>
          <label for="modificar-y">Y</label>
        </span>
      </div>

      <div class="col-12 mb-3 display-inherit">
        <span class="has-float-label mr-2">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="modificar-velocidade"
                   value="0">
            <div class="input-group-append">
              <span class="input-group-text">km/h</span>
            </div>
          </div>
          <label for="modificar-velocidade">Velocidade</label>
        </span>
        <span class="has-float-label">
          <div class="input-group">
            <input type="text"
                   class="form-control mr-1"
                   id="modificar-direcao"
                   value="0">
          </div>
          <label for="modificar-direcao">Direção</label>
        </span>
      </div>


      <div class="col-12">
        <button class="btn btn-primary auto-disabled"
                disabled>Modificar</button>
      </div>
    </form>
  </div>
  <hr>
  <div class="p-3 mb-5">
    <form id="modificar-polar"
          class="form-inline mb-3 row">
      <div class="col-12 mb-3 display-inherit">
        <span class="has-float-label mr-2">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="modificar-raio"
                   value="0">
            <div class="input-group-append">
              <span class="input-group-text">km</span>
            </div>
          </div>
          <label for="modificar-raio">Raio</label>
        </span>
        <span class="has-float-label">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="modificar-angulo"
                   value="0">
          </div>
          <label for="modificar-angulo">Ângulo</label>
        </span>
      </div>


      <div class="col-12 mb-3 display-inherit">
        <span class="has-float-label mr-2">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="modificar-polar-velocidade"
                   value="0">
            <div class="input-group-append">
              <span class="input-group-text">km/h</span>
            </div>
          </div>
          <label for="modificar-polar-velocidade">Velocidade</label>
        </span>
        <span class="has-float-label">
          <div class="input-group">
            <input type="text"
                   class="form-control mr-1"
                   id="modificar-polar-direcao"
                   value="0">
          </div>
          <label for="modificar-polar-direcao">Direção</label>
        </span>
      </div>


      <div class="col-12">
        <button class="btn btn-primary auto-disabled"
                disabled>Modificar</button>
      </div>
    </form>

  </div>
</div>
