<div class="col"
     id="right-col">
  <div class="shadow p-3 mb-5 rounded bg-light">
    <table class="table table-sm table-hover"
           style="font-size: 12px">
      <thead>
        <tr>
          <th>#</th>
          <th>Posição</th>
          <th>Polar</th>
          <th>Direção</th>
          <th>Velocidade (Km/h)</th>
        </tr>
      </thead>
      <tbody id="table-body">
      </tbody>
    </table>
  </div>
</div>
