<div role="tabpanel"
     class="tab-pane active"
     id="visualizacoes">
  <div class="pb-2 mb-5">
    <form>
      <div class="col-12 mb-3 col">
        <div class="col-12 form-check">
          <input id="draw-grid"
                 type="checkbox"
                 class="form-check-input"
                 checked>
          <label class="form-check-label"
                 for="draw-grid">Plano cartesiano</label>
        </div>
        <div class="col-12 form-check">
          <input id="draw-polar"
                 type="checkbox"
                 class="form-check-input"
                 checked>
          <label class="form-check-label"
                 for="draw-polar">Plano polar</label>
        </div>
        <div class="col-12 form-check">
          <input id="draw-airships"
                 type="checkbox"
                 class="form-check-input"
                 checked>
          <label class="form-check-label"
                 for="draw-airships">Aviões</label>
        </div>
        <div class="col-12 form-check">
          <input id="draw-airships-guidelines"
                 type="checkbox"
                 class="form-check-input">
          <label class="form-check-label"
                 for="draw-airships-guidelines">Linha de segurança dos aviões</label>
        </div>
        <div class="col-12 form-check">
          <input id="draw-airships-vision"
                 type="checkbox"
                 class="form-check-input">
          <label class="form-check-label"
                 for="draw-airships-vision">Campo de visão dos aviões</label>
        </div>
        <div class="col-12 form-check">
          <input id="animate-airships"
                 type="checkbox"
                 class="form-check-input">
          <label class="form-check-label"
                 for="animate-airships">Animações dos aviões</label>
        </div>
        <div class="col-12 form-check">
          <input id="bounce"
                 type="checkbox"
                 class="form-check-input">
          <label class="form-check-label"
                 for="bounce">Aviões rebaterem nas paredes</label>
        </div>
        <div class="col-12 form-check">
          <input id="may-track"
                 type="checkbox"
                 class="form-check-input"
                 checked>
          <label class="form-check-label"
                 for="may-track">Funções de rastreamento</label>
        </div>
        <div class="col-12 form-check">
          <input id="should-teleport-to"
                 type="checkbox"
                 class="form-check-input"
                 checked>
          <label class="form-check-label"
                 for="should-teleport-to">Teleportar o avião para o ponto</label>
        </div>
        <div class="col-12 form-check">
          <input id="should-avoid-collision"
                 type="checkbox"
                 class="form-check-input">
          <label class="form-check-label"
                 for="should-avoid-collision">Meia Inteligência Meio Artificial</label>
        </div>
        <hr>
        <div class="col-12 form-check">
          <label class="form-check-label"
                 for="airship-scale">Escala dos aviões</label>
          <div class="row">
            <div class="col-1">1</div>
            <div class="col-10" style="padding-top: 0.3em;">
              <input id="airship-scale" type="range" min="1" max="10" step="1" value="1" class="form-control-range"> 
            </div>
            <div class="col-1">10</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
